[build]
  base = "client"
  command = "rm -rf node_modules package-lock.json && npm install --include=dev && npm run build"
  publish = "dist"
[build.environment]
  NODE_VERSION = "20"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
[[redirects]]
  from = "/api/*"
  to = "https://bookstream-o1gj.onrender.com/api/:splat"
  status = 200
  force = true