[build]
  base = "client"
  command = "rm -rf node_modules package-lock.json && npm install --include=dev && npm run build"
  publish = "dist"
[build.environment]
  NODE_VERSION = "20"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200